.header-menu-wrapper {
    width: 50%;
    ul {
        display: flex;
        li {
            margin-right: 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: #00856F;
            opacity: 0.7;
           
            
        }
        .li-selected {
            opacity: 1;
        }
        .item-selected {
            margin-top: 24px;
            width: 51px;
            height: 2px;
            background: #00856F;
        }
    }
    
}