.section-servicos-wrapper {
    box-sizing: border-box;
    height: fit-content;
    background: #F7F9F9;
    padding: 260px 125px 150px 125px;
   
    .section-servicos-content {
        text-align: center;
    }
}

@media only screen and (max-width: 920px) {
    .section-servicos-wrapper {
        padding: 260px 50px 150px 50px;
    }
}

@media only screen and (max-width: 750px) {
    .section-servicos-wrapper {
        padding: 380px 30px 100px 30px;
        box-sizing: border-box;
        height: fit-content;
        background: #F7F9F9;
       
        .section-servicos-content {
            text-align: center;
        }
    }
}