.section-servicos-wrapper {
    box-sizing: border-box;
    height: 1082px;
    background: #F7F9F9;
    padding: 260px 125px 0px 125px;
   
    .section-servicos-content {
        text-align: center;
    }
}