@use "../../App.scss" as style;

.modal-header-mobile {
    width: 100%;
    background-color: style.$primary-color;
    box-sizing: border-box;
    padding: 24px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
    .modal-header-logo {
        display: flex;
        .btn-close {
            margin-left: auto;
            width: 30px;
        }
    }
}