.number-list-wrapper {
    width: calc(100% - 250px);
    
    background: #FFFAF1;
    border: 1px solid #DCE9E2;
    border-radius: 6px;
    position: absolute;
    top: 80%;
    &-inner {
        display: flex;
        height: 210px;
        gap: 130px;
        justify-content: center;
        align-items: center;
        .number-top:nth-child(1),  .number-top:nth-child(2){
            padding-right: 80px;
            border-right: 1px solid #EAEAEB;
        }
    }
}