.section-contact-wrapper {
    padding: 160px 123px 160px 123px;
    display: flex;
    .section-contact-content {
       button {
        margin-top: 50px;
       }
    }
    .section-contact-icon {
        display: flex;
        &:nth-child(2) {
            margin-top: 50px;
        }
        &:nth-child(3) {
            margin-top: 16px;
        }
    }
    .section-contact-icon img{
        margin-right: 10px;
    }
    .section-contact-image {
        margin-left: auto;
    }
}

@media only screen and (max-width: 1025px) {
    .section-contact-wrapper {
       gap: 30px;

       .section-contact-image {
         width: 50%;
        }

    }
}

@media only screen and (max-width: 920px) {
    .section-contact-wrapper {
        padding: 160px 50px 160px 50px;
    }
}

@media only screen and (max-width: 750px) {
    .section-contact-wrapper {
        padding: 100px 24px 100px 24px;
       display: block;
        .section-contact-content {
           button {
            margin: 30px 0px 60px 0px;
           }
        }
        .section-contact-icon {
            display: flex;
            &:nth-child(2) {
                margin-top: 50px;
            }
            &:nth-child(3) {
                margin-top: 16px;
            }
        }
        .section-contact-image {
            width: -webkit-fill-available;
        }
    }
}