.list-icon-footer-wrapper {
    margin-left: auto;
    img {
        &:nth-child(1), &:nth-child(2) {
            margin-right: 40px;
        }
    }
}

@media only screen and (max-width: 750px) {
    .list-icon-footer-wrapper {
        margin: 0 auto;
        margin-top: 34px;
        img {
            width: 24px !important;
        }
    }
    
}